.nutrition
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:20px 0px;
}

.nutrition .img1
{
    
    width: 20%;
    --animate-duration: 1.5s;
}
.nutrition .img2
{
    width:28%;
    --animate-duration: 1.5s;
}

.nutrition .img1 img,.nutrition .img2 img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nutrition .nutrition-content
{
    width:50%;
    text-align: center;
    padding-top:50px;
}
.nutrition .nutrition-content h1{
    font-weight: 600;
}
.nutrition .nutrition-content .input-group input
{
    padding: 10px 0px 10px 15px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 20px;
    border-color: white;   
}
.nutrition .nutrition-content .input-group input:focus
{
   
    box-shadow: none;
}
.nutrition .nutrition-content .input-group .input-group-text
{
    background-color: white;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 20px;
    border-color: white;
    width:7%;
    padding: 5px;
    transition:all 0.5s ease;
    justify-content: center;
}
.nutrition .nutrition-content .input-group .input-group-text:hover
{
    background-color: var(--dark-font);
    color:white;
}

.nitem{
    width: 80%;
}


@media  screen and (max-width:768px) {
    .nutrition .img2 {
        width: 30%;
        height: 130px;
        align-self: center;
    }
    


}

@media screen and (max-width:745px)
{
    .nutrition .img1 img{
        height: 83%;
        align-self: center;
    }
    .nutrition .nutrition-content .input-group .input-group-text
    {
        width: 11%;
    }
    
}

@media screen and (max-width:570px)
{
    .nutrition .img2{
        display:none;
    }
    .nutrition .img1 img {
        height: 87%;
    }
    .nutrition .img1{
        width:37%
    }
}

@media screen and (max-width:500px)
{
    .nutrition .nutrition-content
    {
        width:55%
    }
}

@media screen and (max-width:414px)
{
    .nutrition{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .nutrition .img1 {
        width: 66%;
    }
}