.start{
    height:400px;
    background: url('./gym.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.heading{
    padding:20px;
    padding-bottom: 0;
    text-align: center;
    text-transform: uppercase;
   font-style: italic;
    font-weight: 600;
    color:white;
    font-size:calc(21px + (38 - 21)*((100vw - 200px) / (1600 - 200) ));
    
  }
  .left-quote, .right-quote{
    font-size:2em;
    
  }
  .right-quote{
  position: relative;
  top:58px;
  }

.start_para{
    color:white;
    position: relative;
    width: 100%;
    text-align: center;
  top:4vw;

  }
  .start_para p{
    width:70%;
    color:white;
    font-size:calc(16px + (21 - 16)*((100vw - 200px) / (1600 - 200) ));
    font-weight: 500;
 
  }
  .start_btn{
    background-color: var(--dark-font);
   padding: 0.6em;
  width: 150px;
   /* border:1px solid var(--dark-font); */
   /* border-radius:10% 10% 10% 10% ; */
  
  }
.start_btn:hover{
   background-color: var(--secondary-hover-color);
}


@media screen and (max-width:768px)
{
  .heading{
    font-size:calc(20px + (32 - 20)*((100vw - 200px) / (1600 - 200) ));

  }
  .start_para p{
    font-size:calc(14px + (20 - 14)*((100vw - 200px) / (1600 - 200) ));

  }
  .start_btn{
   
    font-size:calc(12px + ( 18 - 12)*((100vw - 200px) / (1600 - 200) ));

  }
  .right-quote{
    top:34px;
  }
}