.carousel-item .carousel-data{
    padding:20px;
    width: 70%;
    color:black;
    font-size: inherit;

}
.homeservices{
    padding-top:50px;
    background-color: white;
    padding-bottom:40px;
}
.carousel-item .test_pic{
    font-size:3em;
    padding-top:0
}
.carousel-item{
    text-align: center;
}
.fa-star{
    color:gold !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    filter:invert(100%);
}

.star{
    display: block;
}

