.carousel-item .carousel-data{
    padding:20px;
    width: 70%;
    color:black;
    font-size: inherit;

}
.carousel-item .test_pic{
    font-size:3em;
    padding-top:0
}
.carousel-item{
    text-align: center;
}
.fa-star{
    color:gold !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    filter:invert(100%);
}
.testi-heading{
    margin-top:3em;
}
.star{
    display: block;
}

