@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root{
  --dark-font:#151515;
  --light-font:#FFFFFF;
  --font-fam:'Ubuntu', sans-serif;
  --secondary-hover-color:#292929;
  --purple:#9E55FC;
  --green:#03DAC6;
  --grey-card:#1E1E1E;
  --dark-shadow:  0px 16px 24px 2px hsla(0,0%,0%,0.14), 
  0px 6px 30px 5px hsla(0,0%,0%,0.12), 
  0px 8px 10px -5px hsla(0,0%,0%,0.2);

}
.navbar{
    /* padding-left:100px ; */
    padding-top:30px;
}

.navbar-brand h2{
    font-weight: 900;
    color:var(--dark-font);
    /* font-size:30px; */
    margin-right: 50px;
   
}
.navbar .container-fluid{
    justify-content: space-around;
}
.navbar #login-btn{
    background-color: var(--dark-font);
    color: #F8F7F9;
    /* margin-right:40px; */
}
.navbar #login-btn:hover{
  background-color: var(--secondary-hover-color);
}
.nav-content{
    background-color: var(--dark-font);
    padding-top: 0px;
    padding-bottom: 2px;
}
.navbar .nav-ul ul{
    margin-left: auto;
    margin-right: auto;
}
.nav-content ul li{
    margin-right:10px;
    font-size:1.1em;
}
.nav-content ul li a{
    color:var(--light-font);
}
.nav-content ul li a:hover{
    color:#03DAC6;
}
.toggle_button{
    left: 50px;
    color:white;
}
.icon_toggle{
    color:var(--light-font);
}
.icon-button-toggle{
    position: relative;
    top: -2.5em;
    left: -17em;
    border: none;
}
 .icon-button-toggle:focus {
    border: none;
    box-shadow: none;
  }
.fa-solid{
    color :var(--dark-font);
}
.navbar-responsive{
  display: absolute;
}
.nav-link{
  text-align: center;
}


/* Login navbar modal */
.login-button{
    border: none;
}
.login-button:active{
    outline: none;
    border: none;
    box-shadow: none;
}
.modal-content {
    width: 80%;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .myform h1 {
    font-size: 2.3em;
    font-weight: bold;
  }
  .myform {
    padding: 2em;
    max-width: 100%;
    color: var(--dark-font);
    background-color:var(--grey-card);
    border-radius: 5px;
    @media (max-width: 576px) {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  .text-center{
    color: var(--light-font);
  }
  .form-label{
    color: var(--light-font);
  }
.myinput{
  outline:none;
  background-color: inherit;
    padding-left: 0;
    border:0;
    width: 100%;
    border-radius: 0;
    color: var(--light-font);
    border-bottom: 2px solid var(--light-font);
    text-decoration: none;
}
  .myform .btn {
    width: 50%;
    font-weight: 800;
    background-color: var(--dark-font);
    border-radius: 0;
    padding: 0.5em 0;
    margin: 0px 27%;
    position: relative;
    color: var(--light-font);
  }
  /* .myform .btn:hover {
    background-color: lightgreen;
  } */
  .login_para {
    text-align: center;
    padding-top: 2em;
    color: var(--light-font);
  }
  .login_para a {
    color: var(--purple);
    text-decoration: none;
    transition: .1s ease-in-out;
  }

