/* color theme is #091540 #F8F7F9 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
:root{
  --dark-font:#091540;
  --light-font:#F8F7F9;
  --font-fam:'Lato', sans-serif;;
}


body{
  background-color: #F8F7F9;
  font-family: var(--font-fam);
 

}

