/* color theme is #091540 #F8F7F9 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
:root{
  --dark-font:#091540;
  --light-font:#F8F7F9;
  --font-fam:'Lato', sans-serif;;
}


body{
  background-color: #F8F7F9;
  font-family: var(--font-fam);
 

}
.heading{
  padding:20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.left-quote, .right-quote{
  font-size:2em;
  
}
.right-quote{
position: relative;
top:58px;
}