
/* :root{
  --dark-font:#091540;
  --light-font:#F8F7F9;
  --card-heading-color:#0066EE;
  --font-fam:'Ubuntu', sans-serif;;
} */
.home-blog-parent-container{
    background-color: var(--dark-font);
    color:white;
    /* padding-top: 50px; */
    padding-bottom: 80px;
    margin-top:50px;
    
}
.home-blog-parent-container::before{
    content: " ";
    background-color: var(--dark-font);
    display: block;
    height: 85px;
    transform: skewY(2deg);
    position: relative;
    bottom: 27px;
}


.home-blog-container{
    margin-top: 50px;
    
}
/* a{
    text-decoration: none;
} */
.home-blog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 50px;
    text-align: left;
}
.home-blog-items{ 
    cursor: pointer;
    position: relative;
    width: 18%;
    height: 257px;
    margin: 10px 20px;
    /* box-shadow: 0px 0px 8px 0.5px #888888; */
    border-radius: 10px;
    background-color: #1E1E1E;
    box-shadow:var(--dark-shadow);
    transition: 0.5s transform ease;
}

.home-blog-items.a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 

}
.home-blog-item-container1{
    height: 57%;
    width: 100%;
    left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.home-blog-item1{
    height: 100%;
    width: 100%;
    transition: .5s ease-in-out;
    border-radius: 10px 10px 0px 0px;
    /* object-fit: cover; */
}
.home-blog-item2{
    height: 100%;
    width: 100%;
    transition: .5s ease-in-out;
    border-radius: 10px 10px 0px 0px;
}
.home-blog-item3{
    height: 100%;
    width: 100%;
    transition: .5s ease-in-out;
    border-radius: 10px 10px 0px 0px;
}
.home-blog-items:hover
{
    transform: scaleX(1.1) scaleY(1.1);
}
.home-blog-heading{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
   text-transform: uppercase;
    margin-bottom:10px ;
}
.home-blog-subheading1{
    text-align: center;
    font-size: 17.5px;
    
}
.home-blog-subheading2{
    text-align: center;
    font-size: 17.5px;
   
}
.home-blog-card-heading1{
    position: relative;
    height: 10px;
    font-size: 17px;
    font-weight: bold;
   
    margin-left: 13px;
    top: 15px;
}
.home-blog-span{
    color: #9E55FC;
    position: relative;
    top: 28px;
    font-weight: bold;
    margin-left: 13px;
}


  