/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root{
  --dark-font:#091540;
  --light-font:#F8F7F9;
  --font-fam:'Ubuntu', sans-serif;
} */
.footer{
  background-color: var(--dark-font);
  color:white;

}

.footer .navbar h2, .footer .navbar i{
  color:white;
}
.footer .navbar h2{
  font-weight: 600;
  color: var(--purple);
}
.footer .footer-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer-content .footer_links{
  width: 60%;
  display: flex;
 
}
.footer .footer-content .footer_links ul li{
  color: var(--green);
  cursor: pointer;
}
.footer .footer-content .footer_links  i{
  color: inherit;
  font-size:1.1em;
}
.footer .footer-content .footer_links ul li:hover {
  color:white !important;
}
.footer .footer-content .footer_links  a{
  color:white;
}

.footer-link-headings{
  margin-left:2rem;
  letter-spacing: normal;
  color:var(--green)
}


.footer .footer-content .personel_plan{
  width: 27%;
 
 
}
.footer .footer-content .personel_plan h3{
  color: var(--purple);
}
.footer .footer-content .personel_plan input{
  background-color: white;
}
.footer .footer-content .personel_plan button{
  background-color: var(--purple);
  height:40px;

}
.align{
  transform: translateY(30%);
}
.footer hr{
  margin-bottom:5px
}
#footer-para{
  margin:0;
  font-size:14px
}



@media screen and (max-width:768px)
{
  .footer .footer-content .footer_links{
    width: 100%;
    justify-content: space-around;
  }
  .footer .footer-content .personel_plan{
    width: 100%;
    text-align: center;
  }
  .footer .footer-content .personel_plan .input-group{
        width:40%;
        margin-left:auto;
        margin-right:auto;
  }


}