/* :root{
  --dark-font:#091540;
  --light-font:#F8F7F9;
  --card-heading-color:#0066EE;
  --font-fam:'Ubuntu', sans-serif;;
} */
.home-blog-parent-container {
    background-color: var(--dark-font);
    color: white;
    /* padding-top: 50px; */
    padding-bottom: 80px;
    margin-top: 90px;

}

.home-blog-parent-container::before {
    content: " ";
    background-color: var(--dark-font);
    display: block;
    height: 85px;
    transform: skewY(2deg);
    position: relative;
    bottom: 27px;
}


.home-blog-container {
    margin-top: 50px;

}

/* a{
    text-decoration: none;
} */
.home-blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    text-align: left;
}

.home-blog-items {
    cursor: pointer;

    width: 20%;
    margin: 0px 40px;
    border-radius: 10px;
    background-color: #1E1E1E;
    box-shadow: var(--dark-shadow);
    transition: 0.5s transform ease;
}

.home-blog-items.a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.home-blog-item-container1 {
    height: 57%;
    width: 100%;
    left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.home-blog-item1 {
    height: 100%;
    width: 100%;
    transition: .5s ease-in-out;
    border-radius: 10px 10px 0px 0px;
    /* object-fit: cover; */
}

.home-blog-item2 {
    height: 100%;
    width: 100%;
    transition: .5s ease-in-out;
    border-radius: 10px 10px 0px 0px;
}

.home-blog-item3 {
    height: 100%;
    width: 100%;
    transition: .5s ease-in-out;
    border-radius: 10px 10px 0px 0px;
}

.home-blog-items:hover {
    transform: scaleX(1.1) scaleY(1.1);
}

.home-blog-heading {
    text-align: center;
    font-weight: bold;
    font-size: calc(21px + (35 - 21)*((100vw - 200px) / (1600 - 200)));
    text-transform: uppercase;
    margin-bottom: 10px;

}

.home-blog-subheading1 {
    text-align: center;
    font-size: calc(16px + (20 - 16)*((100vw - 200px) / (1600 - 200)));
    margin-bottom: 0;
}

.home-blog-subheading2 {
    text-align: center;
    font-size: calc(16px + (20 - 16)*((100vw - 200px) / (1600 - 200)));


}

.home-blog-card-heading1 {

    font-size: calc(16px + (18 - 16)*((100vw - 200px) / (1600 - 200)));
    font-weight: bold;
    margin-top: 15px;
    margin-left: 12px;
    margin-bottom: 0;

}

.home-blog-span {
    color: #9E55FC;
    margin-top: 10px;
    display: block;
    font-weight: bold;
    margin-left: 13px;
}



/* media queries */

@media screen and (max-width:768px) {

    .home-blog-items {
        width: 25%;
        margin-bottom: 15px;
    }

    .home-blog-heading {
        font-size: calc(20px + (32 - 20)*((100vw - 200px) / (1600 - 200)));
    }

    .home-blog-subheading1,
    .home-blog-subheading2 {
        font-size: calc(14px + (20 - 14)*((100vw - 200px) / (1600 - 200)));

    }
    .home-blog-card-heading1{
        font-size: calc(14px + (20 - 14)*((100vw - 200px) / (1600 - 200)));
    }
    .home-blog-span{
        font-size: calc(14px + (20 - 14)*((100vw - 200px) / (1600 - 200)));
        
    }
}

@media screen and (max-width:704px) {
    .home-blog-items {
        width: 32%;
    }

}

@media screen and (max-width:542px) {
    .home-blog-items {
        width: 35%;
    }

    .home-blog-subheading1,
    .home-blog-subheading2 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:500px) {
    .home-blog-items {
        width: 50%;
        margin-bottom: 20px;
    }
}